doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/css/theremin.css')
		script(src="/socket.io/socket.io.js")
		script(src="http://d3js.org/d3.v3.js")
		script(src="/js/theremin.js")
		script
			window.onload = theremin.init();
	body
		block content