doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/css/theremin.css')
		script(src="/socket.io/socket.io.js")
		script(src="http://d3js.org/d3.v3.js")
		script(src="/js/oscilloscope.js")
		script(src="/js/synth.js")
		script(src="/js/sine5.js")
		script
			window.onload = function(){
				sine5.init();
			}
	body
		block content
