body
	padding: 10px
	font: 14px "Ubuntu", Helvetica, Arial, sans-serif
	background rgba(0,0,0,0.95);
	color green

h1
	margin 0
#chart
	//padding:20px
	//border 1px solid #666

button
	color lighten(green, 50%)
	border 1px solid green
	border-radius 3px
	background-color transparent
	&.on
		color #000
		background-color lighten(green, 50%)
#chart svg
	//background-color lighten(green, 25%)
	font-size 10px

.line
	fill none
	stroke lighten(green, 25%)
	stroke-width 1.5px
	//shape-rendering crispEdges

.axis path
.axis line
	fill none
	stroke green
	shape-rendering crispEdges

.axis text
	fill green
