body
	padding: 20px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
	//background rgba(0,0,0,0.95);

#chart svg
	font 10px sans-serif
	border 1px solid #333
.line
	fill none
	stroke #f00
	stroke-width 1.5px
	//shape-rendering crispEdges

.axis path
.axis line
	fill none
	stroke green
	shape-rendering crispEdges

.axis text
	color blue
