body
	padding: 20px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
	//background rgba(0,0,0,0.95);

#chart svg
	border 1px solid #999
line
	fill none
	stroke #000
	shape-rendering crispEdges

rect.bkey
	fill black
	stroke black
rect.wkey
	fill white
	stroke black
